.dlApp-content {
  display: flex;
  justify-content: space-around;
  background: rgb(235, 237, 240);
  border-bottom-right-radius: 7.5rem;
}

.dlApp-content .content {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 10px 140px 40px 90px;
}
.dlApp-content .content h3 {
  font-size: 2.4rem;
  font-weight: 500;
}
.dlApp-content .content p {
  font-size: 1rem;
  padding-left: 60px;
  color: #6d6c6c;
  margin-top: 20px;
}
.dlApp-content .enter-phone {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.dlApp-content .enter-phone p {
  font-size: 0.9rem;
  color: #000;
}
.dlApp-content .receive-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 5px;
  width: fit-content;
  background: #fff;
  padding: 8px 10px;
}
.dlApp-content .receive-link input {
  background: none;
  border: none;
  outline: none;
  direction: ltr;
  text-align: right;
}
.dlApp-content .receive-link a {
  background: #ff00b3;
  text-decoration: none;
  border-radius: 3px;
  padding: 8px 12px;
  text-align: center;
  color: #fff;
  font-size: 0.95rem;
}
.dlApp-content .receive-link a p {
}

.dlApp-content .list-app {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 0px;
}
.dlApp-content .list-app div {
}
.dlApp-content .list-app div img {
  width: 140px;
}
.dlApp-content .image {
  width: 35%;
  position: relative;
  padding-left: 150px;
}
.dlApp-content .image img {
  width: 420px;
  position: absolute;
  top: -120px;
}
