.free-sending {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: #fff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.free-sending p {
  font-size: 0.75rem;
  color: #26d354;
}
