.category {
  margin: 20px auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.category h3 {
  font-size: 1.2rem;
  text-align: right;
  color: #444;
  margin-bottom: 30px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
@media (max-width: 530px) {
  .list {
    justify-content: center;
  }
}
