.category {
  margin: 20px auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.category h3 {
  font-size: 1.2rem;
  text-align: right;
  color: #444;
  margin-bottom: 30px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
}
@media (max-width: 946px) {
  .list {
    gap: 0.5rem;
  }
}
@media (min-width: 947px) and (max-width: 1330px) {
  .list {
    gap: 1rem;
  }
}
