.menu-of-res-components {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;  

}
.menu-of-res-components .title {
  margin-top: 15px;
  font-size: 0.92rem;
  font-weight: 500;
  color: #666;
  padding-left: 10px;
  border: none;
  background:none;
  cursor: pointer;
  margin-left: 8px;
}
.menu-of-res-components .activeTitle{
  border-left:  2px solid gray;
}

@media (max-width: 600px) {
  .menu-of-res-components {
    align-items: start;
    height: 60vh;
    overflow-y: auto;
  }

  .menu-of-res-components .title{
    margin-right: 1rem;
  }
}
@media (min-width:601px) {
  .menu-of-res-components {
    height: 40vh;
    overflow-y: auto;
  }
}