.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.title {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 2rem;
}
.title h4 {
  font-size: 1.4rem;
  font-family: Vazir-bold;
  color: #444;
}

.Ritems {
  display: grid;
  gap: 0.3rem;
  grid-auto-flow: column;
  grid-auto-columns: minmax(100%, 1fr);
  padding: 0.5rem;
}
.Ritems a {
  text-decoration: none;
  color: #888;
}
@media (max-width: 400px) {
  .title h4 {
    font-size: 0.8rem;
  }
}
@media (min-width: 401px) and (max-width: 600px) {
  .title h4 {
    font-size: 1.1rem;
  }
}

@media (min-width: 601px) and (max-width: 946px) {
  .Ritems {
    grid-auto-columns: calc(50%);
    /* show 2 items */
  }
}
@media (min-width: 947px) and (max-width: 1287px) {
  .Ritems {
    grid-auto-columns: calc(33.33%);
    /* show 3 items */
  }
}
@media (min-width: 1288px) {
  .Ritems {
    grid-auto-columns: calc(25%);
    /* show 4 items */
  }
}
