.overlay-sort {
  position: absolute;
  top: 55px;
  left: 0;
  width: 220px;
  background-color: #fff;
  border: 1px solid #eee;
  z-index: 10;
}
.list {
  width: 100%;
  list-style: none;
}
.list li {
  margin-top: 0.25rem;
  cursor: default;
  padding: 0.4rem;
  color: #000;
  font-size: 1rem;
}

.list li:hover {
  background-color: #c7dafc;
}
.list a {
  text-decoration: none;
}
