.button {
  width: fit-content;
  border: none;
  padding: 12px 5px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.button span {
  font-size: 0.95rem;
  font-family: Vazir-medium;
  margin-right: 5px;
}
