.toggle-filter-buttons-item-component {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid silver;
  padding: 15px 10px;
}
.toggle-filter-buttons-item-component p {
  font-size: 0.9rem;
}

.toggle-filter-buttons-item-component .toggle-btn {
}
.toggle-filter-buttons-item-component .toggle-btn .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}
.toggle-filter-buttons-item-component .toggle-btn .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-filter-buttons-item-component .toggle-btn .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.toggle-filter-buttons-item-component .toggle-btn .switch .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.toggle-filter-buttons-item-component .toggle-btn input:checked + .slider {
  background-color: #28aa07;
}
.toggle-filter-buttons-item-component .toggle-btn input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
.toggle-filter-buttons-item-component
  .toggle-btn
  input:checked
  + .slider:before {
  transform: translateX(20px);
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
}
.toggle-filter-buttons-item-component .toggle-btn .slider.round {
  border-radius: 28px;
}
.toggle-filter-buttons-item-component .toggle-btn .slider.round:before {
  border-radius: 50%;
}
