.card {
  cursor: pointer;
  box-shadow: 0 1px 3px #eee;
  height: 350px;
  scroll-snap-align: start;
}
.card:hover {
  box-shadow: 0 10px 15px #eee;
}

.up {
  height: 45%;
  position: relative;
}
.free-sending {
  position: absolute;
  top: 20px;
}
.free-sending img {
  width: 20px;
}
.free-sending p {
  font-size: 0.8rem;
  padding-right: 5px;
  color: #26d354;
}
.discount {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  border-top-left-radius: 15px;
  background: #fff;
  width: fit-content;
  padding: 4px 12px;
}
.discount p {
  color: #ff00b3;
  font-size: 0.85rem;
  font-weight: 600;
}
.center-image {
  width: 96px;
  height: 96px;
  text-align: center;
  background: #fdfdfd;
  position: absolute;
  border-radius: 10px;
  right: 35%;
  bottom: -20px;
}
.center-image img {
  width: 90px;
  height: 90px;
  margin-top: 2px;
  border-radius: 10px;
  border: 1px solid rgb(232, 229, 229);
}

.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.down h4 {
  font-size: 1.1rem;
  color: #444;
  margin-top: 5px;
}
.score {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 10px;
}

.score p {
  font-size: 0.8rem;
  margin-right: 5px;
}
.score p:first-child {
  margin-right: 5px;
}
.score p:last-child {
  color: #aaa;
  margin-right: 5px;
}
.types-food {
  margin-top: 8px;
  font-size: 0.75rem;
  color: #aaa;
}

.post-price {
  color: #666;
  display: flex;
  margin-top: 25px;
  align-items: center;
  border-radius: 25px;
  padding: 10px 25px;
  box-shadow: 1px 1px 5px #ddd, -1px -1px 1px #fff;
}

.post-price.half {
  margin-top: 50px;
}

.post-price p {
  margin-right: 5px;
  font-size: 0.7rem;
}
.post-price span {
  font-family: Vazir-bold;
  font-size: 0.7rem;
  margin: 0 3px;
}

@media (max-width: 600px) {
  .center-image {
    right: 40%;
  }
}
/* @media (min-width: 601px) and (max-width: 946px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 947px) and (max-width: 1288px) {
  .card {
    width: 33.33%;
  }
}

@media (min-width: 1289px) {
  .card {
    width: 25%;
  }
} */
