.container {
  margin: 20px;
  /* overflow: hidden; */
  /* background: pink; */
  /* box-shadow: 0 5px 3px silver; */
}
.container:hover {
  /* box-shadow: 0 15px 15px silver; */
}

.shadow {
  box-shadow: 0 1px 3px #ededed;
}
.shadow:hover {
  box-shadow: 0 10px 15px #ededed;
}
.Ritem {
  width: 290px;
  height: 350px;
  /* margin: 20px; */
  /* border-radius: 10px; */
  /* box-shadow: 0 5px 5px silver; */
}
.up {
  height: 45%;
  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
  position: relative;
}
.free-sending {
  position: absolute;
  top: 20px;
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
  /* background: #fff; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: fit-content; */
  /* height: 30px; */
  /* padding: 0 10px; */
}
.free-sending img {
  width: 20px;
}
.free-sending p {
  font-size: 0.8rem;
  padding-right: 5px;
  color: #01b001;
}
.discount {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  border-top-left-radius: 15px;
  background: #fff;
  width: fit-content;
  padding: 4px 12px;
}
.discount p {
  color: #ff00d0;
  font-size: 0.85rem;
  font-weight: 600;
}
.center-image {
  width: 96px;
  height: 96px;
  text-align: center;
  background: #f9f7f7;
  position: absolute;
  border-radius: 10px;
  right: 100px;
  bottom: -20px;
}
.center-image img {
  width: 90px;
  height: 90px;
  margin-top: 2px;
  border-radius: 10px;
  border: 1px solid rgb(232, 229, 229);
}

.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.down h4 {
  font-size: 1.3rem;
  color: #303030;
  margin-top: 5px;
}
.score {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-top: 10px;
}
.score img {
  width: 18px;
}
.score p {
  font-size: 0.8rem;
  margin-right: 5px;
}
.score p:first-child {
  margin-right: 5px;
}
.score p:last-child {
  color: #c3c2c2;
  margin-right: 5px;
}
.types-food {
  margin-top: 8px;
  font-size: 0.85rem;
  color: #c3c2c2;
}
.pre-request {
  display: flex;
  margin-top: 25px;
  align-items: center;
  border-radius: 20px;
  background: #d8d8d8;
  padding: 10px 12px;
}
.pre-request img {
  width: 20px;
}
.pre-request span {
  margin-right: 8px;
  font-size: 0.85rem;
  color: #303030;
}
.post-price {
  display: flex;
  margin-top: 25px;
  align-items: center;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 1px 1px 5px #cbced1, -1px -1px 5px #fff;
}
.post-price img {
  width: 25px;
}
.post-price span {
  margin-right: 8px;
  font-size: 0.9rem;
}
