.onecategory-component {
  box-shadow: 1px 1px 4px #eee, -1px -1px 4px #eee;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}
.onecategory-component .back {
  display: flex;
  align-items: center;
  padding-right: 15px;
  cursor: pointer;
}
.onecategory-component .back button {
  border: none;
  background: none;
}
.onecategory-component .back p {
  font-size: 0.9rem;
  color: #444;
  margin-right: 10px;
  margin-bottom: 7px;
}
.onecategory-component h4 {
  background: #eee;
  color: #444;
  border-radius: 10px;
  font-family: Vazir-bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 10px;
  cursor: pointer;
  font-size: 0.95rem;
}

