.list-items-component {
  margin-top: 5px;
}
.list-items-component h4 {
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  margin-top: 2.5rem;
  margin-bottom: 15px;
}
.list-items-component .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 960px) {
  .list-items-component .list {
    grid-template-columns: 1fr;
  }
}
