.item {
  width: 180px;
  height: 100px;
  display: flex;
  position: relative;
}
.item div {
  background: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 12px;
  padding: 0 10px;
  width: fit-content;
  height: 35px;
  cursor: pointer;
}
.item div p {
  color: #000;
  font-size: 1rem;
}
.item div img {
  width: 20px;
  margin-right: 5px;
}

.item div:hover img {
  padding-right: 4px;
}
.margin {
  margin: 10px;
}
