.backdrop {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.modalcomments {
  width: 50%;
  height: 95vh;
  background: #fff;
  position: fixed;
  z-index: 100;
  top: 5%;
  left: 25%;
}
.header {
  padding: 1rem;
  position: sticky;
  top: 0;
}
.btn-close-icons {
  margin: 5px;
  border: none;
  background: none;
  cursor: pointer;
}
.middle-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-content .shadow {
  box-shadow: 0 0 20px 5px #eee;
}
.imgres {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
  display: block;
}
.info {
}
.info h4 {
  color: #444;
  font-size: 1.5rem;
}
.info .content {
  margin-top: 5px;
  color: #444;
  font-size: 0.9rem;
}
.info .address {
  font-size: 0.7rem;
  margin-top: 5px;
  color: #666;
}

.map {
  overflow: hidden;
  width: 180px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.map button {
  background: #fff;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  color: #26d354;
  padding: 10px;
  font-family: Vazir-bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.map button:hover {
  color: #418a47;
}
.details-list {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.content-scrolled {
  overflow-y: scroll;
  height: 60%;
}
.scores {
  display: flex;
  justify-content: space-between;
  height: 14vh;
}
.scores .right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-right: 1rem;
}

.right .star button {
  background: none;
  border: none;
}
.right .star span {
  font-size: 1.4rem;
  font-family: Vazir-bold;
  color: #444;
}
.right .text {
  font-size: 0.85rem;
  color: #aaa;
}
.right .text span {
  font-size: 0.8rem;
  color: #444;
  margin-right: 5px;
  margin-left: 5px;
  font-family: Vazir-bold;
}

.middle div {
  direction: ltr;
}
.lineer {
  width: 60%;
}
.left span:first-child {
  margin-top: 8px;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 1rem;
}
.title h4 {
  color: #444;
}
.title .leftcontent {
  display: flex;
  align-items: center;
}
.title .leftcontent span {
  font-family: Vazir-medium;
  font-size: 0.85rem;
  color: #444;
}
.togglebtn {
  background: #eee;
  border-radius: 10px;
  padding: 2px;
  margin-right: 1rem;
}

.button {
  border: none;
  background: none;
  padding: 0.5rem 2.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
  color: #666;
  cursor: pointer;
}
.button.toggle {
  color: #26d354;
  background: #fff;
}

@media (max-width: 670px) {
  .modalcomments {
    width: 98%;
    left: 1%;
  }
  .imgres {
    width: 60px;
    height: 60px;
  }
  .info h4 {
    font-size: 1rem;
  }
  .info .content {
    font-size: 0.8rem;
  }
  .info .address {
    font-size: 0.6rem;
  }
  .map {
    width: 120px;
    height: 70px;
  }
  .map button {
    border-radius: full;
    font-size: 0.6rem;
    padding: 2px 5px;
    font-family: Vazir-bold;
  }
  .details-list {
    gap: 0.2rem;
  }
  .scores {
    gap: 0.2rem;
  }
  .right .star span {
    font-size: 1rem;
  }
  .right .text {
    font-size: 0.75rem;
  }
  .right .text span {
    font-size: 0.7rem;
  }
  .title h4 {
    font-size: 0.8rem;
  }
  .title .leftcontent span {
    font-size: 0.75rem;
  }
  .togglebtn {
    margin-right: 0.5rem;
  }
  .button {
    padding: 0.5rem 0.8rem;
    font-size: 0.8rem;
  }
}

@media (min-width: 671px) and (max-width: 800px) {
  .modalcomments {
    width: 96%;
    left: 2%;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  .modalcomments {
    width: 80%;
    left: 10%;
  }
}
@media (min-width: 1001px) and (max-width: 1300px) {
  .modalcomments {
    width: 66%;
    left: 12%;
  }
}
