.side-left-each-res-component {
  width: 20vw;
  max-height: 60vh;
  overflow-y: auto;
  position: relative;
}
.side-left-each-res-component.sticky {
  position: fixed;
  left: 6rem;
  top: 90px;
}

@media (max-width: 960px) {
  .side-left-each-res-component {
    width: 100%;
  }
  .side-left-each-res-component.sticky{
    display:none;
    position: static;
  }
}
@media (min-width:961px) and (max-width:1350px) {

  .side-left-each-res-component.sticky{
    left: 1rem;
  
  }
}

