.side-left-each-res-component {
  width: 22%;
}
.side-left-each-res-component .select-recieve {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
}

.side-left-each-res-component .select-recieve p {
  color: #666;
  font-size: 0.75rem;
}

.side-left-each-res-component .send-price {
  display: flex;
  padding: 12px 10px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #eee;
  margin-top: 10px;
}
.side-left-each-res-component .send-price img {
  width: 20px;
}
.side-left-each-res-component .send-price p {
  color: #666;
  font-size: 0.75rem;
  margin-right: 30px;
}
.side-left-each-res-component .product-box {
  text-align: center;
  padding-top: 50px;
  color: #aaa;
}
.side-left-each-res-component .product-box p {
  margin-top: 10px;
  font-size: 0.9rem;
}
