.basket-item {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5rem;
  /* background-color: palevioletred; */
}
.basket-item h4 {
  font-size: 0.9rem;
  color: #444;
  font-family: Vazir-bold;
}
