.show-more {
  display: flex;
  align-items: center;
  color: #26d354;
  font-size: 0.9rem;
  cursor: pointer;
}

.show-more .text {
  color: #26d354;
}
.show-more span {
  margin: 0 5px;
}
.show-more.big p{
  font-size: 1.4rem;
}
