.one-category-item {
  margin: 10px 0;
  cursor: pointer;
}
.one-category-item .link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-right: 1.5rem;
}
.one-category-item img {
  width: 30px;
}
.one-category-item p {
  font-size: 0.95rem;
  color: #666;
}
.one-category-item a {
  text-decoration: none;
}
