.one-category-item {
  display: flex;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}
.one-category-item img {
  width: 40px;
}
.one-category-item p {
  font-size: 0.9rem;
  color: #666;
  margin-right: 10px;
}
