.side-Right-each-res-component {
  width: 22%;
}

.side-Right-each-res-component .comments {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 5px #ddd, -1px -1px 2px #eee;
  margin-top: 30px;
  padding: 8px;
  border-radius: 25px;
  cursor: pointer;
}

.side-Right-each-res-component .comments p {
  margin-right: 5px;
  color: #26d354;
  font-size: 0.95rem;
}
.side-Right-each-res-component .comments:hover p {
  color: #418a47;
}
