.side-Right-each-res-component {
  width: 20vw;
}
.side-Right-each-res-component.sticky {
  position: fixed;
  right: 6rem;
  top: 90px;
}

.side-Right-each-res-component .comments {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 1px 1px 5px #ddd, -1px -1px 2px #eee;
  margin-top: 30px;
  padding: 8px;
  border-radius: 25px;
  cursor: pointer;
}

.side-Right-each-res-component .comments p {
  margin-right: 5px;
  color: #26d354;
  font-size: 0.95rem;
}
.side-Right-each-res-component .comments:hover p {
  color: #418a47;
}

@media (max-width: 600px) {
  .side-Right-each-res-component {
    width: 90vw;
    margin: 0 auto;
    overflow-y: auto;
  }
  .side-Right-each-res-component.sticky {
    position: static;
    right: 0;
  }
  
}
@media (min-width: 601px) and (max-width: 700px) {
  .side-Right-each-res-component .comments p {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 959px) {

  
  .side-Right-each-res-component {
    width: 40vw;
  }
  .side-Right-each-res-component.sticky {
    right: 1rem;
    top: 90px;
  }
}

@media (min-width: 960px) and (max-width: 1350px) {

  .side-Right-each-res-component.sticky {
    right: 1rem;
  }
}
