.info-of-res-component {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info-of-res-component .image-res {
  width: 80px;
  height: 80px;
  /* border-radius: 10px; */
  /* border: 1px solid #eae7e7; */
}
.info-of-res-component .info {
  display: flex;
  flex-direction: column;
}
.info-of-res-component .info .score {
  display: flex;
}
.info-of-res-component .info .score img {
  width: 14px;
}
.info-of-res-component .info .score span {
  margin-right: 5px;
  font-size: 0.8rem;
}
.info-of-res-component .info .score p {
  color: #a7a7a7;
  margin-right: 5px;
  font-size: 0.8rem;
}

.info-of-res-component .info h4 {
  font-size: 1.1rem;
  margin-top: 8px;
  color: #434141;
}
