.info-of-res-component {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info-of-res-component .image-res {
  width: 80px;
  height: 80px;
  border: 1px solid #eee;
  display: block;
  /* این رو دادم به این علت که کارد یه ارتفاع اضافه ای میگرفت */
}
.info-of-res-component .info {
  display: flex;
  flex-direction: column;
}
.info-of-res-component .info .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-of-res-component .info .score {
  display: flex;
}

.info-of-res-component .info .score span {
  margin-right: 5px;
  font-size: 0.8rem;
}
.info-of-res-component .info .score p {
  color: #aaa;
  margin-right: 5px;
  font-size: 0.7rem;
  font-family: Vazir-medium;
}

.info-of-res-component .info h4 {
  font-size: 1.1rem;
  margin-top: 8px;
  color: #444;
}
.info-of-res-component .discount {
  background: #fff;
  padding: 3px 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #eee, -1px -1px 3px #eee;
}
