.info-of-res-component {
  display: flex;
  align-items: center;
  gap: 5px;
}
.info-of-res-component .image-res {
  width: 70px;
  height: 70px;
  border: 1px solid #eee;
  display: block;
  /* این رو دادم به این علت که کارد یه ارتفاع اضافه ای میگرفت */
}
.info-of-res-component .info {
  display: flex;
  flex-direction: column;
  /* این سه تای پایینی رو دادم که متن تایتل وقتی طولانی هست همش نشون داده نشه و نره خط بعدی */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-of-res-component .info .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info-of-res-component .info .score {
  display: flex;
}

.info-of-res-component .info .score span {
  margin: 0 1px;
  font-size: 0.8rem;
}
.info-of-res-component .info .score p {
  color: #aaa;
  margin-right: 3px;
  font-size: 0.69rem;
  font-family: Vazir-medium;
}
.info-of-res-component .info .score span {
  font-size: 0.69rem;
}

.info-of-res-component .info h4 {
  font-size: 0.9rem;
  margin-top: 8px;
  color: #444;
}
.info-of-res-component .discount {
  background: #fff;
  padding: 3px 10px;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #eee, -1px -1px 3px #eee;
}
