.header-down {
  width: 100%;
  overflow-x: hidden;
  /* top: 88px; */
  top: 70px;
  /* سایز زیر 600 پیکسل بین دو تا هدر فاصله بود و مشخص میشه هرچی زیرش رد میشد */
  padding: 20px 1rem;
  background: #fff;
  /* خواستیم زیر هدر هرچی اومد نشون داده نشه
  البته این شیشه ایش میکنه 
  راه حل اینه که بهش z-index بالا بدیم.
  */
  /* background-color: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(20px); */
}

.header-down.fix {
  position: fixed;
  border-bottom: 1px solid #eee;
  box-shadow: 0 3px 8px -5px #eee;
  z-index: 200;
}

.header-down .list {

  direction: rtl;
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
  overflow-x: scroll;
  scrollbar-width: none;
  /* overflow-x: auto; */
  /* scroll-behavior: smooth; */
}

.angel-right,
.angel-left {
  position: absolute;
  top: 27%;
  border: 1px solid #eee;
  box-shadow: 25px 25px 50px #eee, -15px -15px 50px #eee;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.angel-left {
  left: 1%;
}
.angel-right {
  right: 1%;
}
.header-down a {
  text-decoration: none;
  color: #444;
}
.header-down.allrestaurants .angel-left,
.header-down.allrestaurants .angel-right {
  top: 17%;
}

@media (min-width: 580px) and (max-width: 600px) {
  .header-down {
    top: 55px;
  }
}
