.sort-selected {
  display: flex;
  justify-content: end;
  position: relative;
}
.sort-selected .content {
  border: 1px solid #eee;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
  color: #aaa;
  width: 220px;
}

.sort-selected .content:hover {
  border: 1px solid #aaa;
}
.sort-selected .content:focus {
  border: 1px solid blue;
}
.sort-selected .content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-selected input {
  border: none;
  background: none;
  outline: none;
  color: #666;
  font-size: 1rem;
  width: 150px;
}

.sort-selected button {
  background: none;
  border: none;
  border-right: 1px solid #aaa;
  padding: 8px 5px 0 0;
}
