.sort-selected {
  display: flex;
  justify-content: end;
  position: relative;
}
.sort-selected div {
  border: 1px solid #eee;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #aaa;
}

.sort-selected div:hover {
  border: 1px solid #aaa;
}
.sort-selected div:focus {
  border: 1px solid blue;
}

.sort-selected input {
  border: none;
  background: none;
  outline: none;
  color: #666;
  font-size: 1rem;
  width: 150px;
}

.sort-selected button {
  background: none;
  border: none;
  border-right: 1px solid #aaa;
  padding: 8px 5px 0 0;
}
