.item-addbtn-component {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 10px; */
  height: 65px;
}
.item-addbtn-component:hover {
  background: #fafafa;
}
.item-addbtn-component:hover .add-btn a {
  background: #ff00b3;
  color: #fff;
}
.item-addbtn-component .content-right {
  display: flex;
}

.item-addbtn-component .content-right .all-price {
  display: flex;
  flex-direction: column;
}
.item-addbtn-component .content-right .all-price .title {
  font-size: 0.75rem;
  color: #444;
}
.item-addbtn-component .content-right .all-price .box-price {
  display: flex;
  align-items: center;
}

.item-addbtn-component .content-right .all-price .prices {
  padding-right: 5px;
}
.item-addbtn-component .content-right .all-price .prices #old-price {
  font-size: 0.76rem;
  color: #999;
  text-decoration: line-through;
}
.item-addbtn-component .content-right .all-price .prices #new-price {
  font-size: 0.85rem;
  color: #444;
  font-family: Vazir-medium;
}
.item-addbtn-component .add-btn {
  display: flex;
  align-items: center;
}
.item-addbtn-component .add-btn a {
  color: #ff00b3;
  border-radius: 20px;
  background: #fff;
  padding: 5px 30px;
  box-shadow: 1px 1px 1px #faedf5, -1px -1px 1px #faedf5;
  text-decoration: none;
  font-size: 0.9rem;
}
