.item-addbtn-component {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  height: 65px;
}
.item-addbtn-component:hover {
  background: #fafafa;
}
.item-addbtn-component:hover .add-btn {
  background: #ff00b3;
  color: #fff;
}
.item-addbtn-component .content-right {
  display: flex;
}

.item-addbtn-component .all-price {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.item-addbtn-component .title {
  font-size: 0.75rem;
  color: #444;
}
.item-addbtn-component .box-price {
  display: flex;
  align-items: center;
}

.item-addbtn-component .prices {
  padding-right: 5px;
  margin-right: 0.5rem;
}

.item-addbtn-component #old-price {
  font-size: 0.76rem;
  color: #999;
  text-decoration: line-through;
}
.item-addbtn-component #new-price {
  font-size: 0.85rem;
  color: #444;
  font-family: Vazir-medium;
}
.item-addbtn-component #new-price span {
  font-size: 0.85rem;
  color: #666;
  margin-right: 0.3rem;
}

.item-addbtn-component .add-btn {
  display: flex;
  align-items: center;
  border: none;
  color: #ff00b3;
  border-radius: 20px;
  background: #fff;
  padding: 5px 30px;
  box-shadow: 1px 1px 1px #faedf5, -1px -1px 1px #faedf5;
  font-size: 0.9rem;
}

.item-addbtn-component .disablebtn1 {
  border: none;
  color: #666;
  padding: 5px 10px;
  border-radius: 20px;
}
.item-addbtn-component .disablebtn2 {
  border: none;
  color: #666;
  padding: 5px 30px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #faedf5, -1px -1px 1px #faedf5;
}
