.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}
/* ************************** search-product************* */

.search-product {
  padding: 1.5rem 1.5rem 0.5rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.search-product .up {
  display: flex;
}
.search-product .up img {
  width: 60px;
  height: 60px;
  display: block;
}
.search-product .up .text {
  margin-right: 1rem;
}
.search-product .up .text p:first-child {
  font-size: 0.8rem;
  font-family: Vazir-bold;
  color: #444;
}
.search-product .up .text p:last-child {
  color: #999;
  font-size: 0.8rem;
  margin-top: 10px;
}
.search-product .prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.search-product .prices .pfirst {
  font-size: 0.75rem;
  color: #666;
}
.search-product .prices .pfirst span:last-child {
  margin: 0 5px;
}
.search-product .prices .psecond {
  font-size: 0.75rem;
  color: #666;
}
.search-product .prices .psecond span {
  font-family: Vazir-bold;
  font-size: 0.9rem;
  color: #444;
  margin-left: 5px;
}

/* ***************************** search-store ******************** */
.search-store {
  display: flex;
  padding: 15px;
  cursor: pointer;
}
.search-store button {
  background: none;
  border: none;
}
.search-store p {
  font-size: 0.9rem;
  color: #444;
  margin: 0 0.5rem;
}
.search-store span {
  font-family: Vazir-bold;
  font-size: 0.9rem;
  color: #444;
}
/* ************************* search-title************** */

.search-title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.search-title p {
  color: #666;
  font-size: 0.9rem;
}

/* ######################################## search-input ################# */

.modal-serach-input {
  /* width: 450px; */
  width: 36%;
  height: 55px;
  line-height: 55px;
  position: fixed;
  z-index: 100;
  top: 2%;
  /* left: 37%; */

  left: 32%;
  background: #fff;
  padding-right: 10px;
}

.modal-serach-input button {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 3px;
}

.modal-serach-input input {
  width: 80%;
  height: 35px;
  line-height: 35px;
  font-size: 1.2rem;
  color: #666;
  border: none;
}
.modal-serach-input input:focus {
  outline: none;
}

/* ######################################## search-text ################# */
.modal-serach-text {
  /* width: 450px; */
  width: 36%;
  height: 55px;
  line-height: 55px;
  position: fixed;
  z-index: 100;
  top: 9%;
  /* left: 37%; */
  left: 32%;
  background: #fff;
  padding-right: 10px;
}
.modal-serach-text .typing {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #666;
}
.modal-serach-text .typing span {
  margin-left: 5px;
}
.modal-serach-text .typing p {
  width: 77%;
  font-family: Vazir-bold;
}
.typing button {
  background: none;
  border: none;
}

.modal-serach-text p {
  color: #444;
  font-size: 0.9rem;
}
/* ######################################## category ################# */
.category {
  /* width: 450px; */
  width: 36%;
  height: 80%;
  overflow-y: scroll;
  position: fixed;
  z-index: 100;
  top: 16%;
  /* left: 37%; */
  left: 32%;
  background: #fff;
}
.category .header {
  border-bottom: 1px solid #eee;
}
.category .stores {
  border-bottom: 1px solid #eee;
}

/*  **********************************  Ressponsive  ******************************** */

@media (max-width: 400px) {
  .modal-serach-input,
  .modal-serach-text,
  .category {
    width: 80%;
    left: 10%;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .modal-serach-input,
  .modal-serach-text,
  .category {
    width: 60%;
    left: 20%;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .modal-serach-input,
  .modal-serach-text,
  .category {
    width: 40%;
    left: 30%;
  }
}

@media (min-width: 801px) and (max-width: 1000px) {
  .modal-serach-input,
  .modal-serach-text,
  .category {
    width: 35%;
    left: 32%;
  }
}
@media (min-width: 1001px) and (max-width: 1300px) {
  .modal-serach-input,
  .modal-serach-text,
  .category {
    width: 35%;
    left: 30%;
  }
}
