.side-left-each-res-component {
  width: 22%;
}
.side-left-each-res-component .select-recieve {
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ebeaea;
}
.side-left-each-res-component .select-recieve .time {
}
.side-left-each-res-component .select-recieve p {
  color: #636363;
  font-size: 0.8rem;
}
.side-left-each-res-component .select-recieve .angel-down {
}
.side-left-each-res-component .send-price {
  display: flex;
  padding: 12px 10px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ebeaea;
  margin-top: 10px;
}
.side-left-each-res-component .send-price img {
  width: 20px;
}
.side-left-each-res-component .send-price p {
  color: #959494;
  font-size: 0.8rem;
  margin-right: 30px;
}
.side-left-each-res-component .product-box {
  text-align: center;
  padding-top: 50px;
  color: #b7b6b6;
}
.side-left-each-res-component .product-box img {
}
.side-left-each-res-component .product-box p {
  margin-top: 10px;
}
