.content-each-res-component {
  padding: 2rem 6rem;
  display: flex;
  gap: 1rem;
  background: #fdfdfd;
  position: relative;
  overflow: hidden;
}
.bothRessponsive {
  width: 65vw;
  display: flex;
  gap: 1rem;
  position: relative;
}

.bothRessponsive.sticky {
  justify-content: end;
}

@media (max-width: 600px) {
  .bothRessponsive {
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (min-width: 601px) and (max-width: 959px) {

.bothRessponsive{
  width: 100%;
  justify-content: space-between;

}
}
@media (max-width: 960px) {
  .content-each-res-component {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 1350px) {
  .content-each-res-component {
    padding: 1rem;
  }
}
@media (min-width: 960px) and (max-width: 1350px) {
 .content-each-res-component{
    gap: 0.5rem;
 }
  
  .bothRessponsive.sticky {
    gap: 0.5rem;
    width: 70vw;
  }
  
}

