footer {
  display: flex;
  justify-content: space-between;
  background: rgb(249, 250, 251);
  padding: 3rem;
  /* اگه جایی نیاز هست برو به کامپوننت بالاییش یه  margin-bottom:   بده ; */
  /* margin-top: 60px; */
}
footer .first-part {
  display: flex;
  align-items: center;
}
footer .first-part img {
  width: 150px;
  margin-top: -80px;
}
footer .first-part div {
  margin-right: 30px;
}

footer .first-part div h4 {
  color: #ff00b0;
  font-size: 1.4rem;
  /* margin-top: 60px; */
}
footer .first-part div p {
  margin-top: 8px;
  font-size: 0.8rem;
  color: #303030;
  margin-bottom: 40px;
}
footer .first-part div .icons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
}
footer .first-part div .icons a {
  border-radius: 50%;
  background: #fff;
  padding: 10px 11px 8px;
  margin-left: 10px;
  box-shadow: 1px 1px 1px #eee, -1px -1px 1px #eee;
}
footer .first-part div .icons img {
  width: 18px;
}
footer .links {
  display: flex;
  flex-direction: column;
}
footer .links a {
  text-decoration: none;
  margin-top: 15px;
  color: #303030;
  font-size: 0.8rem;
}
