.footer {
  display: flex;
  justify-content: space-between;
  background: rgb(249, 250, 251);
  padding: 3rem;
  /* اگه جایی نیاز هست برو به کامپوننت بالاییش یه  margin-bottom:   بده ; */
  /* margin-top: 60px; */
}

.footer .first-part {
  display: flex;
  align-items: center;
}
.footer .first-part img {
  width: 150px;
  margin-top: -80px;
}
.footer .first-part div {
  margin-right: 30px;
}

.footer .first-part div h4 {
  color: #ff00b3;
  font-size: 1.4rem;
  /* margin-top: 60px; */
}
.footer .first-part div p {
  margin-top: 8px;
  font-size: 0.8rem;
  color: #444;
  margin-bottom: 40px;
}
.footer .first-part div .icons {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
}
