.sort-selected {
  display: flex;
  justify-content: end;
}
.sort-selected div {
  border: 1px solid #aaa;
  padding: 15px 10px;
  border-radius: 10px;
  display: flex;
  margin-left: 5px;
}
.sort-selected input {
  border: none;
  background: none;
  outline: none;
  color: #eee;
  font-size: 1.2rem;
  border-left: 1px solid #aaa;
  width: 150px;
}

.sort-selected button {
  border: none;
  background: none;
  margin-right: 5px;
}
