.filter-price-component {
  padding: 15px;
  box-shadow: 1px 1px 4px #eee, -1px -1px 4px #eee;
  margin-bottom: 10px;
  border-radius: 10px;
}
.filter-price-component p {
  font-size: 0.7rem;
  color: #444;
}
.filter-price-component .list {
  display: flex;
  border-radius: 10px;
  padding: 2px;
  background: #eee;
  justify-content: space-between;
  margin-top: 25px;
}
.filter-price-component .item {
  cursor: pointer;
  border: none;
  background: none;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 0.95rem;
  color: #666;
}
.item.filter {
  color: #26d354;
  background: #fff;
}

@media (max-width: 960px) {
  .filter-price-component {
    display: none;
  }
}
