.list-items-kopen-component {
  margin-top: 5px;
}

.list-items-kopen-component h4 {
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  margin-top: 30px;
  margin-bottom: 15px;
}

.list-items-component h4 {
  text-align: center;
  font-size: 0.8rem;
  color: #666;
  margin-top: 30px;
  margin-bottom: 15px;
}
.list-items-kopen-component .list-of-kopen {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
}
.list-items-kopen-component .list-of-kopen .kopen-item {
  border-radius: 5px;
  background: #fdfdfd;
  border: 1px solid #eee;
  color: #aaa;
  padding: 10px;
  margin-right: 10px;
}
.list-items-kopen-component .list-of-kopen .kopen-item .first {
  font-size: 0.85rem;
}
.list-items-kopen-component .list-of-kopen .kopen-item .second {
  font-size: 0.7rem;
  margin-top: 5px;
}
.list-items-component {
  margin-top: 5px;
}
.list-items-component .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 960px) {
  .list-items-component .list {
    grid-template-columns: 1fr;
  }
}
