.all-category-item-component {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  cursor: pointer;
}
.all-category-item-component .img-title {
  display: flex;
}
.all-category-item-component .img-title img {
  width: 35px;
  height: 35px;
}
.all-category-item-component .img-title p {
  font-size: 0.9rem;
  color: #666;
  margin-right: 10px;
  background: none;
}

.all-category-item-component button {
  border: none;
  background: none;
}
