::-webkit-scrollbar {
  display: none;
}

/* ::-moz-scrollbar {
  display: none;
} */

/* html {
  overflow-x: scroll; 

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
} */
