.dlApp-content {
  display: flex;
  justify-content: space-around;
  background: rgb(235, 237, 240);
  border-bottom-right-radius: 7.5rem;
  height: fit-content;
}

.dlApp-content .content {
  display: flex;
  flex-direction: column;
  padding: 10px 140px 40px 90px;
}
.dlApp-content .content h3 {
  font-size: 2.4rem;
  /* font-family: Vazir-bold; */
  font-weight: 800;
  color: #444;
}
.dlApp-content .content .text {
  font-size: 1rem;
  padding-left: 60px;
  color: #666;
  margin-top: 20px;
}
.dlApp-content .enter-phone {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.dlApp-content .enter-phone p {
  font-size: 0.75rem;
  color: #444;
  font-family: Vazir-bold;
}
.dlApp-content .receive-link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
  border-radius: 5px;
  width: fit-content;
  background: #fff;
  padding: 8px 10px;
}
.dlApp-content .receive-link input {
  background: none;
  border: none;
  outline: none;
  direction: ltr;
  text-align: right;
}
.dlApp-content .receive-link a {
  background: #ff00b3;
  text-decoration: none;
  border-radius: 3px;
  padding: 8px 12px;
  text-align: center;
  color: #fff;
  font-size: 0.95rem;
}

.dlApp-content .list-app {
  display: flex;
  flex-wrap: wrap;
}
.dlApp-content .list-app img {
  width: 140px;
}

.dlApp-content .image {
  width: 85%;
  position: relative;
  padding-left: 150px;
}
.dlApp-content .image img {
  width: 420px;
  position: absolute;
  top: -120px;
}
.background {
  color: #fff;
  background: #ff00b3;
}

/*  **********************************  Ressponsive  ******************************** */

@media (max-width: 600px) {
  .dlApp-content .content h3 {
    font-size: 2rem;
  }
}
@media (max-width: 1119px) {
  .dlApp-content {
    border-bottom-right-radius: 0;
  }
  .dlApp-content .content {
    width: 100%;
    padding: 30px 10px;
  }
  .dlApp-content .content .text {
    padding-left: 10px;
  }
  .dlApp-content .image {
    display: none;
  }
}
@media (min-width: 1120px) and (max-width: 1300px) {
  .dlApp-content .content {
    padding: 10px 60px 20px 10px;
  }
  .dlApp-content .image {
    width: 100%;
  }
}
